<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HEKA</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="index.html">HEKA</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>

                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Blockchain Based Health Care System</h1>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="static/img/Hospital bed-pana.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->

        <section id="featured-services" class="featured-services">
            <div class="container">
                <div class="row">
                    <div class="columns col-md-1">
                    </div>
                    <div class="columns col-md-10">
                        <div class="icon-box">
                            <div class="icon"><i class="icofont-computer"></i></div>

                            <h4 class="title">
                                <a href="{{ url_for('connect_blockchain') }}">Connect to the HEKA</a>
                            </h4>

                            <p class="description">
                                Click here to experience the smoothest and safest healthcare system
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="featured-services" class="featured-services">
            <div class="container">
                <div class="row">
                    <div class="columns col-md-1">
                    </div>
                    <div class="columns col-md-10">
                        <div class="icon-box">
                            <div class="icon"><i class="icofont-image"></i></div>
                            <h4 class="title"><a href="{{ url_for('download') }}">Download file(s)</a></h4>
                            <p class="description">
                                Download files from the blockchain using the unique hash and the key generated by the uploader
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="static/img/about.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">

                        <h3>About the HEKA</h3>

                        <h6>Welcome to HEKA! your very own next gen health care assistant. Here we assure you that you have the best experience and interactions with your doctors and patients. We guarantee you safety. confidentiality and security, Your information
                            can only be accessed by you and the recipient intended to reach. No middle man. Hope you have a wonderful experience on HEKA. Thanks for choosing us.</h6>
                        <p>
                            <h6>
                                As far as healthcare is concerned, the urgency of development increases to more incredible speeds. Today the need is for quality health facilities supported by advanced and newer technologies. Here, Blockchain would play a critical role in transforming
                                the healthcare sector.
                            </h6>
                            <br>
                            <h5>Until now, the most significant problems faced are:</h5>
                            <ul>
                                <li>Data protection</li>
                                <li>Sharing.</li>
                                <li>Interoperability in population health management.</li>
                            </ul>
                            <h6>
                                This particular problem is reliable by using Blockchain. This technology enhances security, data exchange, interoperability, integrity, and real-time updating and access when correctly implemented.
                            </h6>
                        </p>
                    </div>
                </div>


            </div>
        </section>
        <!-- End About Section -->


    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counterup/counterup.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>