<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <title>HEKA</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container a-container" id="a-container">

            <form class="form" id="b-form" method="POST" action="">
                <h2 class="form_title title">Sign in to HEKA</h2>
                <input class="form__input" type="text" placeholder="Email" id="Email" name="Email">
                <input class="form__input" type="password" placeholder="Password" id="Password" name="Password">
                <button class="form__button button" type="submit">SIGN IN</button>
            </form>

        </div>
        <div class="container b-container" id="b-container">
            <form class="form" id="a-form" method="POST" action="">
                <h2 class="form_title title">Create Account</h2>
                <input class="form__input" type="text" placeholder="Name" name="Name" id="Name">
                <input class="form__input" type="text" placeholder="Email" id="Email" name="Email">
                <input class="form__input" type="password" placeholder="Password" id="Password" name="Password">
                <button class="form__button button " type="submit">SIGN UP</button>
            </form>

        </div>
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c2">
                <h2 class="switch__title title">Hello Users !</h2>
                <p class="switch__description description">Sign up here if you are new to HEKA! Come experience Next-gen health care with us!</p><button class="switch__button button switch-btn">SIGN UP</button>
            </div>
            <div class="switch__container is-hidden" id="switch-c1">
                <h2 class="switch__title title">Welcome Back !</h2>
                <p class="switch__description description">Login here and continue your journey with HEKA!</p><button class="switch__button button switch-btn">SIGN IN</button> </div>
        </div>
    </div>
    <script src="static/js/login.js"></script>
</body>

</html>